{% extends "base.html" %}
{% block content %}

<div class="panel-style">
    <h2>Edit Post</h2>

    <form method="post" action="/blog/editpost/{{post.key().id()}}">
        <input type="text" name="subject" value="{{ post.subject }}">
        <br>
        <textarea name="content">{{ post.content }}</textarea>

        <div class="error">
            {{ error }}
        </div>

        <button type="submit">Submit</button>
    </form>
    <form action="/blog/" method="get"
          onsubmit="return confirm('Are you sure you want to cancel writing this new post? You will lose all changes.');">
        <button id="cancel" type="submit">
            Cancel
        </button>
    </form>
    <form action="/blog/delete/{{ post.key().id() }}" method="post"
          onsubmit="return confirm('Are you sure you want to delete this post?');">
        <button id="delete" type="submit">
            Delete This Post
        </button>
    </form>
    <br>
    <br>

</div>
{% endblock %}